h1 {
    font-family: 'Museo-300', Helvetica, Roboto, Arial, sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

section {
    &.bright {
        background: #fff
    }
    &.dark {
        background: #f8f8f8
    }
}