/**
 * Native elements modifiers
 */
h1 {
    font-family: 'Museo-300', Helvetica, Roboto, Arial, sans-serif;
}

h6 {
    font-weight: 500;
}

section {
    &.bright {
        background: #fff
    }
    &.dark {
        background: #f8f8f8
    }
}

/**
 * Helpers
 */
.uppercase {
    text-transform: uppercase;
}